.card {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(182, 154, 154, 0.386);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
